<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/m-iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='/lib/webdsp.js' type='text/javascript'></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Geo Grabber</title>
</head>

<body bgcolor="#0D0505" onload="processor.doLoad()">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <span class="brand-logo">Geo Grabber</span>
                <a id="sidenav-button" data-target="sidemenu" class="right">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#accountModal" class="modal-trigger">Login / Register</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="accountModal" class="modal">
            <div class="modal-content">
                <h5>Login / Register</h5>
                <p id="errmsg" class="error-message"></p>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <a id="login-button" class="waves-effect waves-green btn-flat">Login</a>

                    <a id="register-button" class="modal-close waves-effect waves-green btn-flat">Register</a>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>

        <ul class="sidenav fixed" id="sidemenu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#accountModal" class="modal-trigger">Login / Register</a>
            </li>
        </ul>
    </div>

    {{{ body }}}
    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/js/view.js"></script>
</body>

</html>