<div class="row search-row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6 s12 white-text">
                <i class="white-text material-icons prefix dropdown-button">search</i>
                <input type="text" placeholder="Enter URL" id="url-input" class="autocomplete white-text">
                <div class='dropdown-trigger' data-target='link-dropdown'></div>
            </div>
        </div>
    </form>
    <ul id='link-dropdown' class='dropdown-content'>
    </ul>
</div>

<div></div>

<div class="row video-container">
    <div class="col s6">
        <video id="video-player" controls></video>
    </div>

    <div class="col s6">
        <canvas id="c1" style="display: none"></canvas>
        <canvas id="c2" style="display: none"></canvas>
        <video id="video-player-2" controls></video>
    </div>
</div>

<br>

<div class="row control-container">
    <div class="col s6">
        <a class="waves-effect waves-light btn filters" data-type="grayScale">Gray Scale</a>
        <a class="waves-effect waves-light btn filters" data-type="brighten">Brighten</a>
        <a class="waves-effect waves-light btn filters" data-type="invert">Invert</a>
        <a class="waves-effect waves-light btn filters" data-type="noise">Noise</a>
        <a id="download" class="waves-effect waves-light btn">Download</a>
    </div>
</div>

<script src="/media-recorder/qbMediaRecorder.js"></script>
<script src="/js/streamRecorder.js"></script>