body {
    overflow: hidden !important;
}

i, div, .material-icons {
    user-select: none;
}

a, .input-field > i {
    cursor: pointer;
}

.input-field > i:hover {
    color: red !important;
}

.input-field > input:focus {
    border-bottom-color: #FF0000FF !important;
    box-shadow: 0 1px 0 0 #D00000FF !important;
}

.btn {
    background-color: #900000FF;
}
.btn:hover {
    background-color: #D00000FF;
}

.search-row {
    height: 100px;
}

.dropdown-trigger {
    visibility: hidden;
    position: absolute;
}

.button-container {
    height: 100%;
}

body .url-link,
.dropdown-content {
    color: #FFFFFFFF; 
    text-align: left;
    text-transform: none;
    background-color: #500000FF;
}

.url-link p {
    padding: 5px 5px;
}

.dropdown-content {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dropdown-content:hover,
.url-link:hover {
    background-color: #900000FF !important;
}

.modal, .modal * {
    background-color: #800000FF !important;  
    color: #FFFFFFFF !important;  
}

.video-container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#video-player {
    display: block;
    margin: 0 auto;
}

#video-player, #c2, #video-player-2 {
    width: 100%;
}

.basic-buttons {
    width: 100%;
}

nav>div {
    background-color: #800000FF;
    color: #FFFFFFFF;
}

.sidenav>li>a {
    color: #FFFFFFFF;
}

.sidenav>li>a:hover {
    background-color: #300000FF;
}

.sidenav {
    background-color: #500000FF;
}

.sidenav-overlay {
    z-index: 1;
}

#sidenav-button {
    margin: 0px 20px;
    user-select: none;
    display: none;
}

.error-message {
    color: #FF0000FF !important;
    font-weight: bold;
}

@media (max-width: 992px) {
    #sidenav-button {
        display: block;
    }
}

@media (max-width: 865px) {
    .dropdown-button > i {
        display: none;
    }
}